<button (click)="tableOnOff()" type="button">{{buttonText}}</button>

<div *ngIf="!tableOn">Tabelle nicht vorhanden</div>
<table *ngIf="tableOn" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>E-Mail-Adresse</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of members">
            <td>{{m.forename}}</td>
            <td>{{m.surname}}</td>
            <td>{{m.email}}</td>
        </tr>

    </tbody>
</table>